* {
  margin: 0;
  padding: 0;
}

body,
html {
  height: 100%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

header {
  height: 200px;
  position: absolute;
  padding-top: 15px;
  padding-left: 50px;
}

main {
  display: flex;
  height: 90%;
}
section.signup {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

div.signup-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div.signup-container > h1 {
  font-weight: 450;
  font-size: 3.5rem;
}

div.signup-container > p {
  font-size: 0.8rem;
  text-align: center;
  color: rgb(145, 145, 145);
}

div.signup-container > p > a {
  color: inherit;
  text-decoration: underline dotted;
}
form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
form > button {
  width: 100%;
  border-radius: 3px;
  height: 45px;
  font-family: inherit;
  font-size: 1.2rem;
  color: white;
  border: 0;
  background-color: #6d3fc2;
}

#email {
  border-radius: 3px;
  height: 45px;
  width: 100%;
  margin: 10px;
  border: 1px solid #6d3fc2;
  color: rgb(153, 152, 152);
  font-size: 1rem;
}

#email::placeholder {
  color: rgb(153, 152, 152);
  font-size: 1rem;
  padding-left: 20px;
}

aside.piano {
  width: 300px;
  height: 100%;
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
aside > img {
  width: 100px;
  padding: 20px;
}
aside > h3 {
  color: rgb(112, 112, 112);
  font-weight: 500;
  font-size: 1.5rem;
  margin-bottom: 20px;
}

p.check::before {
  background-image: url(assets/list_item_check.png);
  background-size: 20px 20px;
  display: inline-block;
  height: 20px;
  width: 20px;
  content: "";
  margin-right: 5px;
}

.details {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.details p {
  font-size: 20px;
  font-family: inherit;
  margin-left: 30px;
  margin-top: 10px;
}

p.more {
  margin-top: 20px;
}

footer {
  background-color: rgb(41, 44, 59);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 10%;
}

footer > p {
  color: white;
}

footer a {
  text-decoration: none;
  color: white;
}

footer ul {
  list-style-type: none;
  display: flex;
}

footer ul li {
  margin: 0 2px;
}

.app {
  display: flex;
  flex-wrap: wrap;
}

.app img {
  margin: 0 5px;
  width: 100px;
}
